# Dependencies
node_modules/
.venv/

# Angular
/creedme-angular/dist
/creedme-angular/.angular

# Environment files
.env
.env.local

# OS files
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify

# Firebase key
firebase-service-account.json